.Menunavbarini{
    
    display: none;
    width: 100%;
    padding-top:11px ;
    padding-left:15px ;
    padding-bottom:15px ;
    padding-right: 21px;

}

.ShowMenu{
    display: flex !important;
}

