
.InputComp{
    width: 75%;
    height: 50% ;
    border-radius: 5px;
    font-size: 15px;
    text-indent: 10px;
    color: black;
    margin-left: 8%;
    border-radius: 8px;
}

.InputComp:focus-visible{
    outline: none !important;
}

.InputSearch{
    width: 90%;
    height: 100%;
    background-color: transparent;
    font-size: 25px;
    
    border: none !important;
    color: white !important;
    margin-left: 10px;
}



.InputHome{
    width: 90%;
    height: 55px !important;
    box-shadow: none !important;
    border: none;
    text-indent: 20px;
    margin-left: 2% !important;
}