.ViewportRooms{
    height: 100vh;
}

.TitleRooms{
    text-align: center;
    font-size: 40px;
    font-weight: 200;
}

.ContenidoRooms{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 6%;
    margin-top: 4%;
    margin-right: 6%;
    margin-bottom: 1%;
}

.ViewAllRooms{
    display: flex;
    justify-content: center;
    height: 10%;
}