.ViewportServices{
    display: flex;
    flex-direction: column;
    align-items: center;
   margin-top: 20px;
}

.ServicesTitle i{
 font-weight: 100;
}
.ServicesTitle{
    font-size: 40px;
    text-align: center;
}

.ElementServices{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 90px;
}