.Ventanaemergente{
    display: none;
    width: 350px;
    height: 350px;
    background-color: #303030;
    
    position: absolute;
    z-index: 5;
    margin-top: 27px;
    border-radius: 5px;
    transition: all 500ms;
}


.Ventanaemergente.show{
    display: grid;
    grid-template-columns: repeat(8 , 1fr);
    grid-template-rows: repeat(15, 1fr);
}