.FooterHome{
    background-color:#303030;
    color: white;
}

.ElementsFooter{
    display: flex;
    padding-top: 5%;
    padding-left: 7%;
    padding-bottom: 5%;
    
}

.Copyrigth{
    padding-left: 7%;
    padding-bottom: 2%;

    
}

.Copyrigth >span{
    color: #6b6969;
}

