
.ItemServices{
    display: flex;
    flex-direction: column;
}

.IconItemServices{
    color: #c19b76;
}
.IconItemServices > svg{
    width: 35px;
    height: 35px;
    font-weight: lighter;
}

.IconItemServices > svg > path {
    /* stroke: #c19b76 !important; */
}

.CuerpoItem{
    margin-top: 20px;
}

.TitleCuerpoItem{
    font-size: 30px;
    font-weight: 100;
    color: rgb(22, 21, 21);
    margin-top:20px ;
}

.DescriptionCuerpoItem{
    padding-right:100px ;
    color: gray;
}